<ion-view title="Detalle producto" id="page8">
    <ion-content padding="true" class="has-header" ng-model="data_product">
        <h1 id="detalleProducto-heading2" style="color:#000000;">Quanta QDP 4G Colombia</h1>
        <div id="detalleProducto-markdown2" style="color:#000000;">
            <p>
                <strong>Tipo</strong>: Mi-Fi UNE 4G LTE</p>
        </div>
        <div id="detalleProducto-markdown3" style="color:#000000;">
            <p>
                <strong>Cantidad</strong>: 100</p>
        </div>
        <div id="detalleProducto-markdown4" style="color:#000000;">
            <p>
                <strong>Precio</strong>: $ 245.678</p>
        </div>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <div id="detalleProducto-button-bar1" class="button-bar">
            <a ui-sref="menu.modificarProducto" id="detalleProducto-button10" class="button button-positive  button-block">Modificar</a>
            <button id="detalleProducto-button11" class="button button-assertive  button-block">Eliminar</button>
        </div>
		
		
		
		<ion-list id="edit-product">
            <ion-item id="page-list-product-detail-1" >{{ data_product.id }}</ion-item>
            <ion-item id="page-list-product-detail-2" >{{ data_product.name }}</ion-item>
            <ion-item id="page-list-product-detail-3" >{{ data_product.type }}</ion-item>
            <ion-item id="page-list-product-detail-4" >{{ data_product.quantity }}</ion-item>
            <ion-item id="page-list-product-detail-4" >{{ data_product.price }}</ion-item>
        </ion-list>
    </ion-content>
	
	
	
	
	
</ion-view>