<ion-view title="Lista de productos" id="page1">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.crearProducto" id="listaDeProductos-button7" class="button button-calm  button-block">Agregar producto</a>
        <div class="spacer" style="width: 300px; height: 49px;"></div>
        <!--
		<ion-list id="listaDeProductos-list3">
            <ion-item id="listaDeProductos-list-item4" ui-sref="menu.detalleProducto">Quanta QDP 4G Colombia</ion-item>
            <ion-item id="listaDeProductos-list-item5" ui-sref="menu.detalleProducto">Motorola XT1060</ion-item>
            <ion-item id="listaDeProductos-list-item6" ui-sref="menu.detalleProducto">Nokia C4</ion-item>
            <ion-item id="listaDeProductos-list-item7" ui-sref="menu.detalleProducto">Lumia 520</ion-item>
            <ion-item id="listaDeProductos-list-item8" ui-sref="menu.detalleProducto">NFC 3838</ion-item>
        </ion-list>
		-->
		<ion-list id="listaDeProductos-list3">
            <ion-item  ng-repeat="item in list" href="#/side-menu21/detalleProducto/{{ item.id }}">{{item.name}}</ion-item>
            <!-- <a class="item" ng-repeat="product in list" href="#/side-menu21/page5/{{ product.id }}">{{ product.name }}</a> -->
        </ion-list>
		
		
    </ion-content>
</ion-view>