<ion-view title="okregistro" id="page7">
    <ion-content padding="true" class="has-header">
        <h1 id="okregistro-heading1" style="color:#000000;">Registro exitoso</h1>
        <div id="okregistro-markdown1" style="color:#000000;">
            <p>Felicitaciones su registro fue
                <strong>exitoso</strong>. Por favor oprima en continuar para ingresar a la aplicación.</p>
        </div>
        <a ui-sref="menu.listaDeProductos" id="okregistro-button6" class="button button-balanced  button-block">Continuar</a>
    </ion-content>
</ion-view>