<ion-view title="Registro" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="registro-form2" class="list">
            <ion-list id="registro-list2">
                <label class="item item-input" id="registro-input6">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input" id="registro-input3">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="registro-input4">
                    <span class="input-label">Apellidos</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="registro-input7">
                    <span class="input-label">Teléfono</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input" id="registro-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="okregistro" id="registro-button5" class="button button-stable  button-block">Registrarse</a>
        </form>
    </ion-content>
</ion-view>