<ion-view title="Crear producto" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="crearProducto-form5" class="list">
            <label class="item item-input" id="crearProducto-input12">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="crearProducto-input13">
                <span class="input-label">Tipo de producto</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="crearProducto-input14">
                <span class="input-label">Cantidad</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="crearProducto-input15">
                <span class="input-label">Precio</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="crearProducto-button14" class="button button-balanced  button-block">Agregar</button>
    </ion-content>
</ion-view>