<ion-view title="inicio" id="page4">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="login" id="inicio-button1" class="button button-balanced  button-block">Ingresar</a>
        <a ui-sref="registro" id="inicio-button2" class="button button-positive  button-block">Registrarse</a>
    </ion-content>
</ion-view>