<ion-view title="Login" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.listaDeProductos" id="login-button3" class="button button-stable  button-block">Ingresar</a>
            <a ui-sref="registro" id="login-button4" class="button button-positive  button-block button-clear">O Registrarse</a>
        </form>
    </ion-content>
</ion-view>