<ion-view title="Modificar producto" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="modificarProducto-form4" class="list">
            <label class="item item-input" id="modificarProducto-input8">
                <span class="input-label">Quanta QDP 4G Colombia</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="modificarProducto-input9">
                <span class="input-label">Mi-Fi UNE 4G LTE</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="modificarProducto-input10">
                <span class="input-label">100</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="modificarProducto-input11">
                <span class="input-label">245678</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="modificarProducto-button13" class="button button-positive  button-block">Modificar</button>
    </ion-content>
</ion-view>